@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #3b3b3b;
  background: rgb(249 250 251);
}

section, nav, footer{ 
  padding-inline: 10%;
  padding-top: 10%;
  padding-bottom: 2.5%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
